:host {
  display: block;

  .select {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(231, 154, 66);
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50px;
    .arrow {
      font-size: 50px;
      border-radius: 50%;
      background-color: rgb(255, 253, 249);
      padding: 20px;
    }
    // h1 {
    //   margin-left: 30px;
    // }
    .no-options {
      margin-left: 30px;
    }
  }
  input {
    width: 50%;
    text-align: center;
    height: 50px;
    font-size: 30px;
    margin-left: 14px;
    border-radius: 50px;
  }
  .hide {
    display: none;
  }
}

